@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --primary-color:black;
  --secondary-color:#018DB0;
   --bg--primary:#D9D9D9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
font-family: "Poppins", sans-serif;

}



h1,h2{
    font-family: "Saira", sans-serif;

}
ul{
list-style: none;

}
a{
 text-decoration: none; 
}
/* headar start*/

header{
background-color: white;
height:100vh ;
padding: 1.5rem 2rem;

}
header.navbar{

background-color: white;


}
header .navbar nav{

display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
}
header .navbar nav ul{
display: flex;
justify-content: space-between;
align-items: center;

}
header .navbar nav ul a{
margin: 0 35px;
color: var(--primary-color);
font-weight: 400;
}
 #home #logo{
color: var(--primary-color);
font-size: 25px;
font-weight: 900;


 }
/* headar end*/